<div id="map-wrapper">
  <div class="col-lg-6">
    <h3 class="select-business"> Select your business </h3>
    <address>
      <%= @location.location %>
    </address>

    <div class="fields form-group">
      <input id="pac-input" class="form-control" type="text" placeholder="Enter a business name">
    </div>

    <div class="update-location">
      <%= form_for @location do |f| %>
          <%= f.hidden_field :photo %>
          <%= f.hidden_field :title %>
          <%= f.hidden_field :lat %>
          <%= f.hidden_field :lng %>
          <button type="submit" class="btn btn-warning pull-right update-location">
            <i class="fa fa-repeat"> </i> Update Business Location
          </button>
      <% end %>
    </div>
  </div>
</div>

<script>

    var autocomplete;

    function initMap() {
        var countryRestrict = {'country': 'us'};
        var location = {lat: <%= @location.lat %>, lng: <%= @location.lng %>};
        var options = {
            componentRestrictions: countryRestrict,
            types: ['establishment'],
            location: location
        };

        var input = (document.getElementById('pac-input'));

        autocomplete = new google.maps.places.Autocomplete(input, options);

        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("Autocomplete's returned place contains no geometry");
                return;
            }
            set_location_details(place);
        });
    }

    function set_location_details(place) {
        var location = place.geometry.location;
        $('#location_title').val(place.name);
        $('#location_lat').val(location.lat());
        $('#location_lng').val(location.lng());
        if (typeof place.photos != 'undefined') {
            var first_photo = place.photos[0];
            console.log(first_photo);
            photo_url = first_photo.getUrl({'maxWidth': 480, 'maxHeight': 246});
            $('#location_photo').val(photo_url);
        }
        else {
            $('#location_photo').val('');
        }
        $('.update-location').show();
    }

</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-m1XVD7c3PfBX_oxxKijOqeyNNqOSUW0&libraries=places&callback=initMap" async defer></script>