<div class="col-lg-6">
 <b> <%= @location.title %> </b>
  <address>
    <%= @location.location %>
  </address>
  <% if @location.photo.present? %>
      <%= image_tag(@location.photo) %>
  <% else %>
      <span> No image found </span>
  <% end %>
</div>

<div class="col-lg-6">
 <div id="map_canvas"></div>
</div>

<script type="text/javascript">
  $(function() {
      var options = {
          zoom: 13,
          center: new google.maps.LatLng(<%= @location.lat %>, <%= @location.lng %>),
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById('map_canvas'), options);
      var infowindow = new google.maps.InfoWindow();
      var marker, i;

      marker = new google.maps.Marker({
          position: new google.maps.LatLng(<%= @location.lat %>, <%= @location.lng %>),
          map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
              content = "<p>" + '<%= @location.title %>' + "</p>";
              content += "<p class='map-link'>" + '<%= @location.location %>' + "</p>";
              infowindow.setContent(content);
              infowindow.open(map, marker);
          }
      })(marker, i));
  });
</script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>